doctype html
block locals
    - var title ="My Website";



html(lang="en")
  head
    meta(charset="UTF-")
    mata(name="viewport" content="width-device-width,initial-scale=1.0")
    title template html
  body
include _menu.pug

block content
